{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>UA Test</title>
</head>
<body>
  <h1>Airship Test</h1>
  <p>This is a test, I repeat this is a test.</p>
  <img src="{% static 'ua_test/elephant.jpeg' %}">
    <script type="text/javascript">
      // 86acbd31cd7c09cf30acb66d2fbedc91daa48b86:1610842548.8623075
      !function(n,r,e,t,c){var i,o="Promise"in n,u={then:function(){return u},catch:function(n){
      return n(new Error("Airship SDK Error: Unsupported browser")),u}},s=o?new Promise((function(n,r){i=function(e,t){e?r(e):n(t)}})):u
      ;s._async_setup=function(n){if(o)try{i(null,n(c))}catch(n){i(n)}},n[t]=s;var a=r.createElement("script");a.src=e,a.async=!0,a.id="_uasdk",
        a.rel=t,r.head.appendChild(a)}(window,document,'https://aswpsdkus.com/notify/v1/ua-sdk.min.js',
      'UA', {
        vapidPublicKey: 'BLViPQNwm8NSezMNhFksQ3aPQfY6jvlqVXsvigC9csEyFLkZgt__2ObajsGaV-q3xFS8LBO2TVdk3H4o4zOwyAU=',
        appKey: '157YRx2qSLOlFP7JQnoHyQ',
        token: 'MToxNTdZUngycVNMT2xGUDdKUW5vSHlROnNXaXdIV3RfVS1MNGFwTHdraVRJUnB5bmUxb2xWb2JzSTJHd3pJbmpVTm8'
      });
    </script>
    <script type="text/javascript">
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('{% static 'ua-test/js/push-worker.js' %}').then(function(registration) {
            // Registration was successful
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
          }, function(err) {
            // registration failed :(
            console.log('ServiceWorker registration failed: ', err);
          });
        });
      }
    </script>
</body>
</html>
